/**
 * 変数
 */
$bg-color: #212121;
$text-color: #efefef;
$heading-color: #e49f45;
$h2-color: #6595c7;
$link-color: #ffffff;
$menu-link-color: #FFFFFF;
$menu-current-color: #6595c7;
$wp-admin-red: #dc3232;
$wp-admin-green: #46b450;

