/**
 * 変数
 */
$body-bg: #0a2d44;
$article-header-bg: #05141e;
$article-header-txt: #6595c7;
$article-h2: #e2f4ff;
$article-h2-border: #1d4a65;

$text-color: #efefef;
$heading-color: #e49f45;
$link-color: #ffffff;
$menu-link-color: #FFFFFF;
$menu-current-color: #6595c7;
$wp-admin-red: #dc3232;
$wp-admin-green: #46b450;

