.amazon-associate {
    border: var(--amazon-associate-border);
    display: flex;
    background: var(--amazon-associate-bg);
    color: var(--amazon-associate-txt);
    margin: 0 20px;
    padding: 20px;
    border-radius: 5px;
    p {
        order: 1;
    }
    ul {
        order: 2;
    }
    a {
	&:link,
	&:visited,
	&:hover,
	&:active {
    		color: var(--amazon-associate-link);
	}
    }
}
