@import 'color.scss';

body {
    font-family: sans-serif;
    line-height: 1.7;
    word-break: break-all;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-color: var(--body-bg);
    color: var(--text-color);
  > * {
    flex: 1 100%;
  }
}

@import 'content.scss';

